form{
    margin-top: 30px;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

table{
    margin-top: 30px;
    border-collapse: collapse;
}

td,th{
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}